@using MvcBootcamp.Entities.Concrete
@model List<Category>

@{
    ViewBag.Title = "Kategori Listesi";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div style="margin:20px 20px 0 20px;">

    <section id="unseen">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <thead style="background:white;font-size:15px;">
                <tr>
                    <th>#</th>
                    <th>KATEGORİ ADI</th>
                    <th>AÇIKLAMA</th>
                    <th>DURUM</th>
                    <th>İŞLEMLER</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th >@item.Id</th>
                        <td>@item.Name</td>
                        <td width="100px">@item.Description</td>
                        <td align="center" width="100px">
                            @if (item.Status == true)
                            {
                                <button class="btn-active" >Aktif</button>
                            }
                            else
                            {
                                <button class="btn-passive">Pasif</button>
                            }

                        </td>

                    </tr>

                }
            </tbody>

        </table>

        <a href="/PanelCategory/Add" class="btn btn-primary"> New Category</a>
    </section>
</div>


