
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add New Category</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div style="margin:20px 400px 0 400px;">
        <form class="form-group" action="/Category/Add" method="post" >
            <input style="margin-top:10px;" class="form-control" id="Name" name="Name"  placeholder="Name"/>
            <input style="margin-top:10px;" class="form-control" id="Description" name="Description"  placeholder="Description"/>
            <input style="margin-top:10px;" class="form-control" id="Status" name="Status"  placeholder="Status"/>
            <button type="submit" style="margin-top:20px;" class="btn btn-success">Add Category</button>
        </form>

    </div>
</body>
</html>
