@using MvcBootcamp.Entities.Concrete
@model List<Category>

<ul class="navigation">
    <li> <a href="/">Tümü</a> </li>
    @foreach (var item in Model)
    {
        if (item.IsActive)
        {
            <li> <a href="/kategori/@item.SeoUrl">@item.Name</a> </li>
        }
    }

</ul>