
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <th>Id</th>
                <th>Kategori Adı</th>
                <th>Açıklama</th>
                <th>Durum</th>
            </tr>

            <tr>
                <th>1</th>
                <th>Kripto Para</th>
                <th>açıklama yapıldı</th>
                <th>True</th>
            </tr>

            <tr>
                <th>2</th>
                <th>Yazılım</th>
                <th>açıklama yapıldı</th>
                <th>True</th>
            </tr>

            <tr>
                <th>3</th>
                <th>Spor</th>
                <th>açıklama yapıldı</th>
                <th>True</th>
            </tr>
        </table>
    </div>
</body>
</html>
