
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="login-page">
    <div class="container">
        <form class="form-login" action="/giris" method="post">
            <h2 class="form-login-heading">Giriş Yap</h2>
            <div class="login-wrap">
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="error-msg">
                        <i class="fa fa-exclamation-circle" style="float:left;line-height:35px;"></i>
                        @ViewBag.ErrorMessage
                    </div>
                }

                <input type="email" class="form-control" name="EMail" placeholder="E-mail" required>
                <br>
                <input type="password" class="form-control" name="Password" placeholder="Şifre" required>
               
                <button class="btn-login" style="margin-top:20px;" type="submit">Giriş Yap</button>

            </div>


        </form>

    </div>
</div>

