@using MvcBootcamp.Entities.Concrete
@model List<Skill>
@{
    ViewBag.Title = "Skill";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="main">
    <div class="main-info w3l">
        <div class="main-row">
            <!-- main-row-one -->
            <div class="profile-grid logo wthree">
                <img src="~/Content/img/img1.jpg" alt="">
                <h2>MURAT BULUT </h2>
                <p>Sivas Cumhuriyet Üniversitesi • Yönetim Bilişim Sistemleri</p>

            </div>
            <h3 class="title">Yetenekler <a href="/PanelSkill/Add/" class="btn btn-primary btn-xs"><i class="fa fa-plus icon-margin"></i> Yeni Yetenek Ekle</a></h3>
            <div class="col-md-6 skills-right bar_group" style="width:100%;">
                @foreach (var item in Model)
                {

                    
                    <div class='bar_group__bar thin' label='@item.Name &nbsp;&nbsp; @item.Percent%<a href="/PanelSkill/Remove/@item.Id" style="float:right;" class="btn btn-danger btn-xs">Sil</a> <a href="/PanelSkill/Update/@item.Id" style="float:right;margin-right:5px;" class="btn btn-default btn-xs">Düzenle</a> ' value='@item.Value'></div>
                }
            </div>

            <div class="clear"> </div>
        </div>
    </div>

</div>


@section Skill{

    <link href="~/Content/css/skill.css" rel="stylesheet" />

    <script src="~/Scripts/skill-js/bars.js"></script>
    <!--circle-chart-->
    <script src="~/skill-js/jquery-1.11.1.min.js"></script>
    <!--//circle-chart-->
    <!--ResponsiveTabs-->
    <script src="~/skill-js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
}
