@model MvcBootcamp.WebUI.Models.Calender
@{
    ViewBag.Title = "Mvc Bootcamp V.1.1";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@section HomePageCss{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">
}

<section class="wrapper">

    <div class="row" style="color:black;">

        <div id="calendar">
        </div>


    </div><! --/row -->
</section>


@section HomePageScripts{
    <script src="~/Scripts/sparkline-chart.js"></script>
    <script src="~/Scripts/zabuto_calendar.js"></script>
    <script src="~/Scripts/chart-master/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>

    <script type="text/javascript">
			$(document).ready(function () {
				$('#calendar').fullCalendar({
        			header: {
            			left: 'prev,next today',
                        center: 'title',
            			right: 'month,agendaWeek,agendaDay'
					},
            		firstDay: 1, //The day that each week begins (Monday=1)
            		slotMinutes: 60,
            		events: '@Url.RouteUrl(new{ action= "GetEvents", controller="Panel"})'
                });
            });

    </script>

    

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>


}

