
@{
    ViewBag.Title = "Mvc Bootcamp V.1.1";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@section HomePageCss{
    <link rel="stylesheet" type="text/css" href="~/Content/css/lineicons/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/zabuto_calendar.css">
}

<section class="wrapper">

    <div class="row">
        <div class="col-lg-9 main-chart">
            <div class="row mtbox">
                <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3>933</h3>
                    </div>
                    <p>933 People liked your page the last 24hs. Whoohoo!</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="li_cloud"></span>
                        <h3>+48</h3>
                    </div>
                    <p>48 New files were added in your cloud storage.</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="li_stack"></span>
                        <h3>23</h3>
                    </div>
                    <p>You have 23 unread messages in your inbox.</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="li_news"></span>
                        <h3>+10</h3>
                    </div>
                    <p>More than 10 news were added in your reader.</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="li_data"></span>
                        <h3>OK!</h3>
                    </div>
                    <p>Your server is working perfectly. Relax & enjoy.</p>
                </div>

            </div><!-- /row mt -->

            <div class="row mt">
                <!-- SERVER STATUS PANELS -->
                <aside class="col-lg-9 mt">
                    <section class="panel">
                        <div class="panel-body">
                            <div id="calendar" class="has-toolbar"></div>
                        </div>
                    </section>
                </aside>


                


            </div><!-- /row -->


            

        </div><!-- /col-lg-9 END SECTION MIDDLE -->
        <!-- **********************************************************************************************************************************************************
        RIGHT SIDEBAR CONTENT
        *********************************************************************************************************************************************************** -->

        <div class="col-lg-3 ds">
            
            <!-- USERS ONLINE SECTION -->
            <h3 style="background: #ed5565;">
                TAKIM ÜYELERİ
            </h3>
            <!-- First Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="~/Content/img/ui-divya.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p>
                        <a href="#">DIVYA MANIAN</a><br />
                        <span>Available</spa>
                    </p>
                </div>
            </div>
            <!-- Second Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="~/Content/img/ui-sherman.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p>
                        <a href="#">DJ SHERMAN</a><br />
                        <muted>I am Busy</muted>
                    </p>
                </div>
            </div>
            <!-- Third Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="~/Content/img/ui-danro.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p>
                        <a href="#">DAN ROGERS</a><br />
                        <muted>Available</muted>
                    </p>
                </div>
            </div>
            <!-- Fourth Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="~/Content/img/ui-zac.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p>
                        <a href="#">Zac Sniders</a><br />
                        <muted>Available</muted>
                    </p>
                </div>
            </div>
            <!-- Fifth Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="~/Content/img/ui-sam.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p>
                        <a href="#">Marcel Newman</a><br />
                        <muted>Available</muted>
                    </p>
                </div>
            </div>

            <!-- CALENDAR-->
            <div id="calendar" class="mb">
                <div class="panel green-panel no-margin">
                    <div class="panel-body">
                        <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                            <div class="arrow"></div>
                            <h3 class="popover-title" style="disadding: none;"></h3>
                            <div id="date-popover-content" class="popover-content"></div>
                        </div>
                        <div id="my-calendar"></div>
                    </div>
                </div>
            </div><!-- / calendar -->

        </div><!-- /col-lg-3 -->
    </div><! --/row -->
</section>


@section HomePageScripts{
    <script src="~/Scripts/sparkline-chart.js"></script>
    <script src="~/Scripts/zabuto_calendar.js"></script>
    <script src="~/Scripts/chart-master/Chart.js"></script>


    <script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });

            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });


        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>

}

